:root {
  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-primary-800: hsla(229, 47%, 17%, 1);
  --clr-primary-700: hsla(229, 43%, 20%, 1);
  --clr-primary-400: hsla(230, 50%, 58%, 0.3);
  --clr-primary-300: hsla(229, 36%, 39%, 1);
  --clr-primary-200: hsla(229, 21%, 53%, 1);
  --clr-accent-400: hsla(147, 93%, 43%, 1);
  --clr-secondary-400: hsla(229, 78%, 60%, 1);

  --font-family: "Outfit", sans-serif;

  --fw-regular: 300;
  --fw-semi-bold: 400;
  --fw-bold: 700;

  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-700: 3.25rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}
body {
  width: 100%;
  margin: 0;
  color: var(--clr-neutral-100);
  font-family: var(--ff-base);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  line-height: 1.5;
}

/* header */
header {
  width: 100%;
  box-shadow: 0.5px 2.5px 5px 0.1px gold;
}

.header-items {
  height: 110px;
  display: flex;
  margin-left: 0rem;
  align-items: center;
  justify-content: space-between;
  padding-block: 8px;
  margin-bottom: 2rem;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 15rem;
  justify-content: space-between;
}

.stroke-white {
  stroke: #fff;
}
nav a {
  margin-left: 0;
  font-weight: 600;
  padding: 5px 20px;
  margin-right: 3rem;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: white;
}
.information-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20%;
  justify-content: space-between;
}
@media screen and (max-width: 800px) {
  .information-user {
    flex: 50%;
    max-width: 50%;
  }
}
header a:hover {
  color: gold;
  text-decoration: none;
}

.site-img {
  border-radius: 10%;
  width: 4rem;
  height: 4rem;
  margin-left: 8rem;
  object-fit: cover;
  border-width: 4px;
  border-style: solid;
  border-color: gold red #fb6f92 blue;
}
.site-img:hover {
  transform: scale(1.5);
}
header .login-link {
  margin-right: 10%;
}
#menu-icon {
  display: none;
}
#menu-toggle {
  display: none;
}
/* CSS for portable phones (up to 600 pixels wide) */
@media only screen and (max-width: 600px) {
  header {
    display: flex;
    width: auto;

    padding-top: 1.5rem;
    margin-top: 0rem;

    box-shadow: 0.5px 2px 5px 0.1px gold;
  }
  .header-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-block: 10px;
    margin-bottom: 2rem;
  }

  .site-img {
    margin-left: -1rem;
    width: 6rem;
    height: 6rem;
    position: relative;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: gold red #fb6f92 blue;
    align-items: center;
    object-fit: cover;
    box-shadow: none;
  }
  nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0;
  }
  nav a {
    margin: 0.3rem 0;
    margin-right: 0;
    font-size: 14px; /* Adjust font size as needed */
  }
  #menu-icon {
    display: block;
  }
  div.information-user {
    display: none;
  }
  #menu-toggle:checked + div.information-user {
    display: flex;
    position: absolute;
    margin-top: 2.3rem;
    margin-left: -3rem;
    background: pink;
    border-radius: 5px;
    flex-direction: column;
    align-items: start;
  }
  .login-link {
    margin-left: 5rem;
  }
}

/* Home */
.home-container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
    url("./assets/Home.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 358px;

  color: white;
  padding: 45px;
}
.home-container {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  width: 100%;
  margin-top: 27px;
  cursor: auto;
  padding-block: 0.75rem;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  transition: transform 0.1s ease-in-out;
}
.home-container a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  background-color: #ff8c38;
}
.home-container a:active,
.home-container a:hover {
  background-color: #ff6b6b;
}
.home-container h2 {
  font-weight: 700;
  font-size: 2.25rem;
  padding: 8px;
  line-height: 42px;
}
.home-container p {
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
  margin-top: 25px;
  margin-bottom: 60px;
  padding: 8px;
}

/* PHOTOS */
.photo-container {
  /* background: lightpink; */
  text-align: center;

  background-color: var(--clr-primary-800);
}
.photo-list {
  margin: 1rem;

  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.photo-sravan {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  padding: 1rem;

  transition: scale 450ms;
}

.photo-sravan img {
  transition: 2s;
  object-fit: cover;
  border-radius: 1rem;
}
.photo-sravan img:hover {
  transform: scale(1.3);
}
@media screen and (max-width: 800px) {
  .photo-sravan {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .photo-sravan {
    flex: 90%;
    max-width: 90%;
  }
  img {
    width: 270px;
    height: 250px;
    object-fit: cover;
  }
  .photo-container {
    background: lightpink;
    padding-bottom: 1rem;
  }
}

/* Resume */
.resume-container {
  position: relative;
}
.resume-menu-content {
  position: absolute;
  margin: 0.1rem;
  padding: 10px 14px;
  z-index: 1;
  opacity: 0;
}
.resume-container:hover .resume-menu-content {
  display: block;
  background-color: black;
  opacity: 1;
}
.resume-menu-content a {
  display: block;
  margin: 0;
}

/* Detail */
.detail-resume-grid {
  display: grid;
  grid-template-columns: 15rem 1fr;
  gap: 5vw;
  margin-top: 2%;
  grid-auto-flow: column;
  text-align: left;
}
.detail-resume-aside {
  display: flex;
  margin-top: 0;
  align-self: stretch;
  grid-column: 1;
  width: 10rem;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  width: 10rem;
}

.visually-hidden {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.role {
  font-size: var(--fs-600);
  margin-left: 2rem;
  line-height: 1.2;
}
.icon-list {
  padding: 0;
  border-left: 1px solid white;
  margin-left: clamp(3rem, 10vw, 10rem);
  list-style: none;
  display: grid;
  align-content: start;
  gap: var(--fs-200);
}
.icon-list > li {
  position: relative;

  padding-left: 2 rem;
}
.icon-list > li::after {
  --_size: 0.6rem;
  content: "";
  top: 0;
  left: calc(var(--_size) / -2);
  background: yellow;
  width: var(--_size);
  outline: 0.5rem solid rgba(255, 255, 255, 0.106);
  position: absolute;
  aspect-ratio: 1;
  border-radius: 50%;
}
.detail-resume-main {
  grid-column: 2;
  width: calc(95vw - 15rem);
}
.detail-resume-main > h2 {
  text-align: center;
}
.intro {
  font-size: var(--fs-500);
}
.course-experience {
  display: grid;
  justify-content: start;
  gap: 1rem;
  grid-auto-flow: column;
  overflow-x: auto;
  padding: 1.4rem;
}
.course-experience::-webkit-scrollbar {
  height: 0.75rem;
}

.course-experience::-webkit-scrollbar-track {
  background-color: var(--clr-primary-800);
}
.course-experience::-webkit-scrollbar-thumb {
  background-color: green;
  border-radius: 100vw;
}

.course {
  width: 28rem;
  height: 18rem;
  border-radius: 3px 70px 30px;
  background: var(--clr-primary-800);
  padding: 2rem;
}
.course * {
  margin: 0;
}
.courseName {
  text-align: center;
}
.project-info {
  display: flex;
  align-items: center;
  margin: 1rem;
  justify-content: space-between;
}
.project-demo {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.project-demo a:hover {
  text-decoration: none;
  color: hsla(0, 0%, 100%, 1);
}

.figma {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* single page resume */
.single-page-resume-grid {
  display: grid;
  justify-content: center;
  gap: 5vw;
  grid-auto-flow: dense;
}
.single-resume-main {
  grid-column: 3;
  width: calc(100vw - 25rem - 5vw);
  background-color: #7bdff2;
  color: black;
}
.single-resume-aside {
  margin-top: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  grid-column: 2;
  background-color: #264653;
}
.My-info {
  display: flex;

  align-items: center;
  flex-direction: column;
}
.My-info img {
  border-radius: 50px 60px 0px 60px;
  object-fit: cover;

  width: 6rem;
  height: auto;
  align-items: center;
}
.my-detail {
  display: flex;
  flex-direction: column;
}
.phone-number1 {
  display: flex;
  color: white;
  font-weight: 700;
  margin-top: 0.9rem;
}
.call-icon1 {
  margin-top: 0.4rem;
}
.phone-number1 a,
.phone-number1 a:link,
.phone-number1 a:visited {
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.phone-number1 a:hover {
  color: #ffc8dd;
}
.mail {
  display: flex;
  color: white;
  font-weight: 700;
  margin-top: 0.9rem;
}
.gmail-icon1 {
  margin-top: 0.4rem;
}
.mail a,
.mail a:link,
.mail a:visited {
  list-style: none;
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.mail a:hover {
  color: #ffc8dd;
}
.linked-in1 {
  display: flex;

  color: white;
  font-weight: 700;
  margin-top: 0.9rem;
}
.linked-in-icon1 {
  margin-top: 0.4rem;
}
.linked-in1 a,
.linked-in1 a:link,
.linked-in1 a:visited {
  list-style: none;
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.linked-in1 a:hover {
  color: #ffc8dd;
}

.skill-info {
  display: flex;
}
.skill-name h3 {
  border-bottom: 1px solid white;
}
.language-info {
  display: flex;
}
.language-name h3 {
  border-bottom: 1px solid white;
}

.grid-demo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.animation-demo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.animation-demo > .project-link {
  margin-left: 9%;
}
.js-demo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.react-demo {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.bootStrap-demo {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.full-stack {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.login-link {
  padding-left: 2rem;
  margin-right: auto;
}
.login-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.red {
  color: #ff6b6b;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 14px;
}
.login-form input {
  margin: 0.1rem;
  border: none;
  height: 1.7rem;
  border-radius: 0.2rem;
  background-color: #ffffff;
  color: black;
}
.login-form button {
  margin-top: 0.2rem;
  border: none;
  border-radius: 2px;
  height: 1.6rem;
  background-color: gold;
  color: white;
  width: 5rem;
}
.login-form button:is(:hover, :focus) {
  box-shadow: 0 0 2px 2px;
  background-color: #ffffff;
  border-radius: 0.2rem;
  color: #ff8c38;
}
@media only screen and (max-width: 600px) {
  .login-container h1 {
    font-size: 19px;
  }
  .login-container {
    margin-top: 4rem;
  }
  .login-form {
    margin-top: 2rem;
  }
  .login-container button {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

/* FOOTER */
.footer-content {
  display: flex;
  padding: 20px;
  background-color: #ffc8dd;
  color: black;
  font-weight: 700;
  justify-content: space-between;
  margin-top: 1rem;

  font-family: sans-serif;
}
.footer-content span {
  font-family: "Times New Roman", Times, serif;
}

.summary-topic li {
  margin-bottom: 1rem;
  list-style: none;
}

.summary-topic a {
  list-style: none;
  padding-bottom: 10px;
  list-style-type: disc;
  color: black;
  font-weight: 500;
  text-decoration: none;
}
.summary-topic :hover,
.summary-topic :focus,
.summary-topic :active {
  color: rgb(0, 106, 255);
}
.footer-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-img {
  display: none;
}
.phone-number {
  display: flex;
  color: black;
  font-weight: 200;
  margin-top: 0.9rem;
}
.call-icon {
  margin-top: 0.4rem;
}
.phone-number a {
  text-decoration: none;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
}
.phone-number a:hover {
  color: rgb(0, 106, 255);
}
.mail-footer {
  display: flex;
  color: black;
  font-weight: hsl(212, 20%, 68%);
  margin-top: 0.9rem;
}
.gmail-icon {
  margin-top: 0.4rem;
}
.mail-footer a {
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
}
.mail-footer a:hover {
  color: rgb(0, 106, 255);
}
.linkedin-footer {
  display: flex;
  color: black;
  font-weight: 600;
  margin-top: 0.9rem;
}
.linkedin-footer-icon {
  margin-top: 0.4rem;
}
.linkedin-footer a {
  list-style: none;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-weight: 500;
}

.linkedin-footer a:hover {
  color: rgb(0, 106, 255);
}

.not-found-class {
  padding: 1.5rem;
}
.not-found {
  text-align: center;
}
.not-found-class a {
  padding: 0.5rem;
  justify-content: center;
  background-color: gold;
  color: black;
  border-radius: 2px;
  margin: 40%;
  text-decoration: none;
}
.not-found-class a:hover {
  background-color: #ff6b6b;
}

/* //phone */
@media screen and (max-width: 600px) {
  .header-items {
    display: flex;
    flex-direction: row;
  }
  .site-logo {
    margin-left: 2.5rem;
  }

  nav {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-left: 5rem;
  }
  .information-user {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-right: 0;
  }
  .login-link {
    align-self: center;
    margin-right: 2rem;
  }
}

/* //phone  footer*/
@media screen and (max-width: 600px) {
  .footer-content {
    display: flex;
    padding: 15px;
    background-color: #ffc8dd;
    color: black;
    font-weight: 700;
    justify-content: space-between;
    margin-top: 1rem;
    font-family: sans-serif;
  }
  .footer-content span {
    font-family: "Times New Roman", Times, serif;
  }
  .summary-topic {
    display: none;
  }
  #footerid {
    display: none;
  }
  .footer-logo {
    display: flex;
    align-items: flex-start;
    margin-left: 12%;
    display: block;
  }
  .footer-img {
    border-radius: 10%;
    object-fit: cover;
    width: 4rem;
    height: 4rem;
    margin-left: 20%;
    box-shadow: 0.5px 0.4px 5px 0.1px gold;
  }
}

/* phone screen detail resume */
@media screen and (max-width: 600px) {
  .detail-resume-aside {
    display: none;
  }
  .detail-resume-grid {
    display: grid;
    grid-template-columns: 1fr;

    margin-top: 2%;
    margin-left: 0.5rem;
    grid-auto-flow: row;
    text-align: left;
    width: 70%;
  }

  .role {
    font-size: var(--fs-500);
    margin-left: 1rem;
    line-height: 1.2;
  }

  .detail-resume-main {
    grid-column: 1;
    width: 100%;
  }

  .detail-resume-main > h2 {
    text-align: center;
  }

  .intro {
    font-size: var(--fs-400);
  }

  .course-experience {
    display: grid;
    justify-content: start;
    gap: 0.5rem;
    grid-auto-flow: row;
    overflow-y: scroll;
    overflow-x: none;
    height: 300px;
    direction: rtl; /* Set the container direction to right-to-left */
  }

  .course-experience::-webkit-scrollbar {
    width: 0.5rem;
  }

  .course-experience::-webkit-scrollbar-track {
    background-color: var(--clr-primary-800);
  }

  .course-experience::-webkit-scrollbar-thumb {
    background-color: green;
    border-radius: 0.5rem;
    transform: rotate(180deg); /* Rotate the scrollbar thumb by 180 degrees */
  }

  .course {
    width: 18rem;
    height: 17rem;
    border-radius: 1rem;
    background: var(--clr-primary-800);
    padding-top: 1rem;
  }

  .courseName {
    text-align: center;
    font-size: 1.5rem;
  }

  .project-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    direction: ltr;
    justify-content: space-between;
    font-size: 1.2rem;
  }

  .project-demo {
    display: flex;
    direction: ltr;
    font-size: 1rem;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.4rem;
  }

  .project-demo a:hover {
    text-decoration: none;
    color: hsla(0, 0%, 100%, 1);
  }

  .full-stack {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 0;
  }
  .note {
    margin-left: 0.5rem;
  }
  .figma {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}
