:root {
  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-primary-800: hsla(229, 47%, 17%, 1);
  --clr-primary-700: hsla(229, 43%, 20%, 1);
  --clr-primary-400: hsla(230, 50%, 58%, 0.3);
  --clr-primary-300: hsla(229, 36%, 39%, 1);
  --clr-primary-200: hsla(229, 21%, 53%, 1);
  --clr-accent-400: hsla(147, 93%, 43%, 1);
  --clr-secondary-400: hsla(229, 78%, 60%, 1);

  --font-family: "Outfit", sans-serif;

  --fw-regular: 300;
  --fw-semi-bold: 400;
  --fw-bold: 700;

  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-700: 3.25rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}
body {
  width: 100%;
  margin: 0;
  color: var(--clr-neutral-100);
  font-family: var(--ff-base);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  line-height: 1.5;
}

/* header */
header {
  width: 100%;

  box-shadow: 0.5px 0.4px 5px 0.1px gold;
}

.header-items {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-block: 8px;
  margin-bottom: 2rem;
  padding: 1rem;
}
@media screen and (max-width: 800px) {
  .header-items {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .header-items {
    flex: 100%;
    max-width: 100%;
  }
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 800px) {
  nav {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  nav {
    flex: 100%;
    max-width: 100%;
  }
}
nav a {
  margin-left: 0;
  font-weight: 600;
  padding: 5px 20px;

  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: white;
}
.information-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 50%;
  justify-content: space-between;
}
@media screen and (max-width: 800px) {
  .information-user {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .information-user {
    flex: 100%;
    max-width: 100%;
  }
}
header a:hover {
  color: gold;
  text-decoration: none;
}

.site-img {
  border-radius: 10%;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  box-shadow: 0.5px 0.4px 5px 0.1px gold;
}
.site-img:hover {
  transform: scale(1.5);
}
header .login-link {
  margin-right: 10%;
}

/* Home */
.home-container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
    url("./assets/Home.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 358px;

  color: white;
  padding: 45px;
}
.home-container {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  width: 100%;
  margin-top: 27px;
  cursor: auto;
  padding-block: 0.75rem;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  transition: transform 0.1s ease-in-out;
}
.home-container a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  background-color: #ff8c38;
}
.home-container h2 {
  font-weight: 700;
  font-size: 2.25rem;
  padding: 8px;
  line-height: 42px;
}
.home-container p {
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
  margin-top: 25px;
  margin-bottom: 60px;
  padding: 8px;
}

/* PHOTOS */
.photo-container {
  /* background: lightpink; */
  display: flex;
}
.photo-list {
  display: flex;
  margin: 5%;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-wrap: wrap;
  padding: 1rem 2rem;
}
.photo-sravan {
  max-width: 25%;
  padding: 5px 4px;
  transition: scale 450ms;
}
.photo-sravan img {
  margin-top: 8px;
  object-fit: cover;
  border-radius: 1rem;
  vertical-align: middle;
  box-shadow: 2.5rem 2.7rem 2rem lightskyblue;
  width: 100%;
  transition: 2s;
}
.photo-sravan img:hover {
  transform: scale(1.3);
}

@media screen and (max-width: 800px) {
  .photo-sravan {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .photo-sravan {
    flex: 100%;
    max-width: 100%;
  }
  .photo-container {
    background: lightpink;
  }
}

/* Resume */
.resume-container {
  position: relative;
}
.resume-menu-content {
  position: absolute;
  margin: 0.1rem;
  padding: 10px 14px;
  z-index: 1;
  opacity: 0;
}
.resume-container:hover .resume-menu-content {
  display: block;
  background-color: black;
  opacity: 1;
}
.resume-menu-content a {
  display: block;
  margin: 0;
}

/* Detail */
.detail-resume-grid {
  width: 100%;
  display: grid;
}
.detail-resume-aside {
  margin: 1rem;
  grid-column: 1;
  align-self: stretch;
  width: calc(100vw - 15rem - 5vw);
}
.role {
  font-size: var(--fs-600);
  line-height: 1.2;
}
.icon-list {
  padding: 0;

  border-left: 1px solid white;
  margin-left: clamp(3rem, 10vw, 10rem);
  list-style: none;
  display: grid;
  align-content: center;
  gap: 3rem;
}
.icon-list > li {
  position: relative;

  padding-left: 2 rem;
}
.icon-list > li::after {
  --_size: 0.6rem;
  content: "";
  top: 0;
  left: calc(var(--_size) / -2);
  background: yellow;
  width: var(--_size);
  outline: 0.5rem solid rgba(255, 255, 255, 0.106);
  position: absolute;
  aspect-ratio: 1;
  border-radius: 50%;
}
.detail-resume-main {
  grid-column: 2;
  width: 75%;
}

.login-link {
  padding-left: 2rem;
  margin-right: auto;
}
.login-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 14px;
}
.login-form input {
  margin: 0.1rem;
  border: none;
  height: 1.7rem;
  border-radius: 0.2rem;
  background-color: #ffffff;
}
.login-form button {
  margin-top: 0.2rem;
  border: none;
  border-radius: 2px;
  height: 1.6rem;
  background-color: gold;
  color: white;
  width: 5rem;
}
.login-form button:is(:hover, :focus) {
  box-shadow: 0 0 2px 2px;
  background-color: #ffffff;
  border-radius: 0.2rem;
  color: #ff8c38;
}

/* FOOTER */
.footer-content {
  display: flex;
  padding: 20px;
  background-color: #35001bcd;
  color: white;
  justify-content: space-between;
  margin-top: 1rem;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .footer-content {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .footer-content {
    flex: 100%;
    max-width: 100%;
  }
}
.summary-topic li {
  margin-bottom: 1rem;
  list-style: none;
}

.summary-topic a {
  list-style: none;
  padding-bottom: 10px;
  list-style-type: disc;
  color: #ffffff;
  text-decoration: none;
}
.summary-topic :hover {
  color: antiquewhite;
}
.footer-logo {
  display: flex;
  flex-direction: column;
}
.footer-img {
  border-radius: 10%;
  object-fit: cover;
  width: 4rem;
  height: 4rem;
  box-shadow: 0.5px 0.4px 5px 0.1px gold;
}
.phone-number {
  display: flex;
  color: white;
  margin-top: 0.9rem;
}
.call-icon {
  margin-top: 0.4rem;
}
.phone-number a,
.phone-number a:link,
.phone-number a:visited {
  text-decoration: none;
  color: white;
}
.mail-footer {
  display: flex;
  color: white;
  margin-top: 0.9rem;
}
.gmail-icon {
  margin-top: 0.4rem;
}
.mail-footer a,
.mail-footer a:link,
.mail-footer a:visited {
  list-style: none;
  text-decoration: none;
  color: white;
}
